# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Julia
2. SQL
3. Java

Data Science Tools \
| Apache Spark |\
| Matplotlib |\
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
* Data Science Tools
* A simple arithmetic expression
* Convert minutes to hours
* List popular languages for Data Science

##Author
Tnmay Gupta